.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    @media screen and (max-width: 768px) {
        @include flex-column;
      }

    &__copyright, 
    &__developer{
        color: rgba($terciary-color, .2);
    transition: all .5s ease;

    }

    &__developer{
        &--link{
            color: $secundary-color;
            transition: all .3s ease;

            &:hover{
                color: $terciary-color;
                text-decoration: underline;
            }
        }
    }
}