.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    &__copyright, 
    &__developer{
        color: rgba($terciary-color, .2);
    }

    &__developer{
        &--link{
            color: $secundary-color;
            transition: all .3s ease;

            &:hover{
                color: $terciary-color;
                text-decoration: underline;
            }
        }
    }
}