* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  outline: none;

  &::selection {
    background-color: $terciary-color;
    color: $color-gray-dark;
  }
}

html,
body {
  overflow-x: hidden;
  background-color: $primary-color;
  cursor: default;
  position: relative;
}
main {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  padding: 0 1%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
// body *{
//     border: 1px solid red;
// }
