@keyframes balance {
  0% {
    transform: translateY(-2px);
    transform: rotate(15deg);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: translateY(6);
    transform: rotate(-15deg);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes showItem {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes messageAlert {
    0% {
        opacity: 1;
        transform: scale(.5);
    }
    50% {
      

    }
    100% {
        transform: scale(1);
    }
  }
  
