@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@keyframes balance {
  0% {
    transform: translateY(-2px);
    transform: rotate(15deg); }
  50% {
    transform: scale(1.2); }
  75% {
    transform: translateY(6);
    transform: rotate(-15deg); }
  100% {
    transform: translateY(0px); } }

@keyframes showItem {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes messageAlert {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: rotate(1deg); }
  100% {
    transform: translateY(0);
    transform: rotate(-1deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  outline: none; }
  *::selection {
    background-color: #EFEFEF;
    color: #323232; }

html,
body {
  overflow-x: hidden;
  background-color: #151515;
  cursor: default;
  position: relative; }

body::-webkit-scrollbar {
  width: 5px;
  margin: 0 10px; }

body::-webkit-scrollbar-thumb {
  background-color: #8758ff;
  border-radius: 20px; }

main {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  padding: 0 1%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }

.btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
  border-radius: 3px; }
  .btn i {
    color: #323232;
    transition: all 0.5s ease; }
  .btn:hover {
    background-color: #8758FF;
    border: 2px solid #EFEFEF; }
    .btn:hover i {
      color: #EFEFEF; }

.btnAdd {
  position: absolute;
  right: 27px;
  top: 9px;
  border: 2px solid #323232;
  background-color: #8758FF; }
  .btnAdd i {
    color: #EFEFEF; }
  .btnAdd:hover {
    transform: scale(1.05); }

.btnRemove {
  position: absolute;
  right: 5px; }
  .btnRemove:hover {
    animation: balance 0.3s ease; }

.btnCloseModal {
  width: 50px;
  height: 30px;
  color: #EFEFEF;
  background-color: #151515;
  border: 3px solid #8758FF;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: -15px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease; }
  .btnCloseModal:hover {
    background-color: #8758FF;
    border: 3px solid #EFEFEF; }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 10px; }
  .container__date {
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    color: #8758FF; }
  .container__display {
    max-width: 1400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
    font-weight: 600; }
    .container__display--hour, .container__display--minute, .container__display--second {
      max-width: 100px;
      width: 100%;
      color: #8758FF;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative; }
    .container__display--hour::after, .container__display--minute::after {
      content: ":";
      max-width: 100%;
      position: absolute;
      right: -1.5rem;
      transform: scale(0.5); }
    .container__display .unit-of-time {
      width: 100%;
      text-align: center;
      font-size: 0.9rem;
      color: #323232;
      font-weight: 400; }
  .container__greeting-message {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFEFEF;
    font-weight: bold; }

.todolist {
  max-width: 365px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  padding: 0 10px; }
  .todolist__top {
    min-width: 100%;
    height: 4rem;
    padding: 0 10px; }
    .todolist__top::after {
      content: "";
      width: 100%;
      background-color: #323232;
      height: 2px;
      position: relative;
      display: inline-block;
      bottom: 5px;
      left: 0; }
    .todolist__top--input {
      max-width: 365px;
      width: 100%;
      min-height: 3rem;
      padding: 5px;
      padding-right: 5px;
      background-color: transparent;
      border: none;
      border: 2px solid #8758FF;
      font-weight: 700;
      color: #8758FF;
      transition: all 0.5s ease;
      position: relative; }
      .todolist__top--input::placeholder {
        color: #8758FF;
        font-weight: 700;
        transition: all 0.5s ease; }
      .todolist__top--input:focus::placeholder {
        opacity: 0.2; }
  .todolist__list {
    max-width: 380px;
    width: 100%;
    height: 30rem;
    position: relative;
    left: 50%;
    top: 10px;
    margin-bottom: 15px;
    transform: translateX(-50%);
    overflow-y: auto;
    padding: 0 10px; }
    .todolist__list__item {
      max-width: 1000px;
      width: 100%;
      min-height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      position: relative;
      padding: 5px;
      border: 2px solid rgba(50, 50, 50, 0.5);
      transition: all 0.5s ease;
      margin-bottom: 10px;
      cursor: default;
      overflow-x: hidden;
      padding-right: 40px;
      animation: showItem 0.5s ease; }
      .todolist__list__item:hover {
        border: 2px solid rgba(135, 88, 255, 0.5); }
      .todolist__list__item--text {
        width: 100%;
        height: 100%;
        font-size: 0.8rem;
        font-weight: 700;
        color: rgba(239, 239, 239, 0.3);
        transition: all 0.5s ease;
        text-transform: full-width; }
        .todolist__list__item--text::selection {
          background-color: #EFEFEF;
          color: #323232; }

.todolist__list__item:hover .todolist__list__item--text {
  color: #8758FF; }

.todolist__list::-webkit-scrollbar {
  width: 5px;
  margin: 0 10px; }

.todolist__list::-webkit-scrollbar-thumb {
  background-color: #8758ff;
  border-radius: 20px; }

.itemList-date {
  margin-top: 5px;
  font-size: 0.7rem;
  color: rgba(135, 88, 255, 0.4);
  font-weight: bold; }

.message__popup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  z-index: 1;
  padding: 0 10px; }

.message-alert {
  max-width: 350px;
  width: 100%;
  height: 5.5rem;
  position: relative;
  padding: 5px;
  border: 3px solid #8758FF;
  background-color: #151515;
  display: none;
  animation: messageAlert 0.5s ease; }
  .message-alert--text {
    color: #EFEFEF;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem; }
  .footer__copyright, .footer__developer {
    color: rgba(239, 239, 239, 0.2); }
  .footer__developer--link {
    color: #8758FF;
    transition: all .3s ease; }
    .footer__developer--link:hover {
      color: #EFEFEF;
      text-decoration: underline; }
